{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A necessitatibus, consequuntur eveniet obcaecati natus iste omnis quia nobis impedit eum non cupiditate beatae explicabo doloremque neque vitae! Beatae, ab. Aspernatur fugit dolore accusamus, obcaecati tempora doloremque debitis aut quos, sunt beatae nam ipsam dolorem quo? Cumque ratione nemo veritatis debitis quis magni cupiditate. Distinctio cum unde optio excepturi ratione? Dolor expedita porro, eligendi animi ullam non natus enim, quod ea quibusdam neque dolore aliquid soluta exercitationem eius asperiores et officia eos, maxime ducimus corporis minima? Facere expedita illum mollitia error corrupti sapiente id cupiditate sint esse quas hic, sit facilis?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Sign In</a>
            <a class="btn btn-dark" href="/signup/">Sign Up</a>
        </div>
    </section>
</main>
{% endblock %}